In [68]:
# import dependencies
%matplotlib notebook
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [69]:
# import source data files

deaths_2013_2014 = pd.read_csv("raw_data/OD_2013_2014.csv", thousands=',')
deaths_2015 = pd.read_csv("raw_data/OD_2015.csv", thousands=',')
deaths_2016 = pd.read_csv("raw_data/OD_2016.csv", thousands=',')
deaths_2017 = pd.read_csv("raw_data/OD_2017.csv", thousands=',')

regions = pd.read_csv("raw_data/regions.csv")

# reduce dataframes to include only state and death statistic
#############THESE ARE THE OVERDOSE BY STATE DATA FRAMES *********************
deaths_2013_df = deaths_2013_2014[['State', '2013Number']]
deaths_2013_df = deaths_2013_df.rename(index=str, columns={"2013Number": "2013Deaths"})
# deaths_2013_df["2013Deaths"] = pd.to_numeric(deaths_2013_df["2013Deaths"])
deaths_2014_df = deaths_2013_2014[['State', '2014Number']]
deaths_2014_df = deaths_2014_df.rename(index=str, columns={"2014Number": "2014Deaths"})
deaths_2015_df = deaths_2015[['State', 'Number']]
deaths_2015_df = deaths_2015_df.rename(index=str, columns={"Number": "2015Deaths"})
deaths_2016_df = deaths_2016[['State', 'number']]
deaths_2016_df = deaths_2016_df.rename(index=str, columns={"number": "2016Deaths"})
deaths_2017_df = deaths_2017[['State', 'number']]
deaths_2017_df = deaths_2017_df.rename(index=str, columns={"number": "2017Deaths"})

deaths_2013_df.head()

  State  2013Deaths
0    ND          20
1    NE         117
2    SD          55
3    IA         275
4    TX        2446

In [70]:
# import perscription data
rx_2013 = pd.read_csv("raw_data/RX_2013.csv")
rx_2014 = pd.read_csv("raw_data/RX_2014.csv")
rx_2015 = pd.read_csv("raw_data/RX_2015.csv")
rx_2016 = pd.read_csv("raw_data/RX_2016.csv")
rx_2017 = pd.read_csv("raw_data/RX_2017.csv")

# reduce dataframes to include only state and death statistic 
rx_2013_df = rx_2013[['State ABBR', '2013 Prescribing Rate']]
rx_2013_df = rx_2013_df.rename(index=str, columns={"State ABBR": "State", "2013 Prescribing Rate": "2013_RX_rate"})
rx_2014_df = rx_2014[['State ABBR', '2014 Prescribing Rate']]
rx_2014_df = rx_2014_df.rename(index=str, columns={"State ABBR": "State", "2014 Prescribing Rate": "2014_RX_rate"})
rx_2015_df = rx_2015[['State ABBR', '2015 Prescribing Rate']]
rx_2015_df = rx_2015_df.rename(index=str, columns={"State ABBR": "State", "2015 Prescribing Rate": "2015_RX_rate"})
rx_2016_df = rx_2016[['State ABBR', '2016 Prescribing Rate']]
rx_2016_df = rx_2016_df.rename(index=str, columns={"State ABBR": "State", "2016 Prescribing Rate": "2016_RX_rate"})
rx_2017_df = rx_2017[['Abbreviation', 'Year 2017']].drop([51], axis=0).reset_index(drop=True)
rx_2017_df = rx_2017_df.rename(index=str, columns={"Abbreviation": "State", "Year 2017": "2017_RX_rate"})

# drop last row in rx_2017 becuase it is a duplicate entry (WY)
# rx_2017_df = rx_2017_df.drop([51], axis=0).reset_index()

#######THESE ARE THE PERSCRIPTION BY STATE DATA FRAMES*******************
# rx_2013_df
# rx_2014_df
# rx_2015_df
# rx_2016_df
# rx_2017_df


rx_2017_df.head()

  State  2017_RX_rate
0    AL         107.2
1    AK          52.0
2    AZ          61.2
3    AR         105.4
4    CA          39.5

In [71]:
# import population data
population2010_2017 = pd.read_csv("raw_data/Pop_2013-2017.csv", thousands=',')
# remove first two rows because they are insignificant to the dataframe
population2010_2017_a = population2010_2017.drop([0,1,2,3,4,56,57,58,59,60,61,62], axis=0).reset_index(drop=True)
# rename column headers
population2010_2017_a = population2010_2017_a.rename(index=str, columns={"Unnamed: 0": "State", "2013": "2013_Pop", "2014": "2014_Pop", "2015": "2015_Pop", "2016": "2016_Pop", "2017": "2017_Pop"})
# create dataframe with new column names
pop_2010_2017_df = pd.DataFrame(population2010_2017_a)
pop_2010_2017_df = pop_2010_2017_df.replace({'.Alabama': 'AL',
                                             '.Alaska': 'AK', 
                                             '.Arizona': 'AZ',
                                             '.Arkansas': 'AR',
                                             '.California': 'CA',
                                             '.Colorado': 'CO',
                                             '.Connecticut': 'CT',
                                             '.Delaware': 'DE',
                                             '.District of Columbia': 'DC',
                                             '.Florida': 'FL',
                                             '.Georgia': 'GA',
                                             '.Hawaii': 'HI',
                                             '.Idaho': 'ID',
                                             '.Illinois': 'IL',
                                             '.Indiana': 'IN',
                                             '.Iowa': 'IA',
                                             '.Kansas': 'KS',
                                             '.Kentucky': 'KY',
                                             '.Louisiana':'LA',
                                             '.Maine': 'ME',
                                             '.Maryland':'MD',
                                             '.Massachusetts':'MA',
                                             '.Michigan':'MI',
                                             '.Minnesota':'MN',
                                             '.Mississippi':'MS',
                                             '.Missouri':'MO',
                                             '.Montana':'MT',
                                             '.Nebraska':'NE',
                                             '.Nevada':'NV',
                                             '.New Hampshire':'NH',
                                             '.New Jersey':'NJ',
                                             '.New Mexico':'NM',
                                             '.New York':'NY',
                                             '.North Carolina':'NC',
                                             '.North Dakota':'ND',
                                             '.Ohio':'OH',
                                             '.Oklahoma':'OK',
                                             '.Oregon':'OR',
                                             '.Pennsylvania':'PA',
                                             '.Rhode Island':'RI',
                                             '.South Carolina':'SC',
                                             '.South Dakota':'SD',
                                             '.Tennessee':'TN',
                                             '.Texas':'TX',
                                             '.Utah':'UT',
                                             '.Vermont':'VT',
                                             '.Virginia':'VA',
                                             '.Washington':'WA',
                                             '.West Virginia':'WV',
                                             '.Wisconsin':'WI',
                                             '.Wyoming':'WY'})
######THIS IS THE POPULATION DATA FRAME******************************
# pop_2010_2017_df

# merge regions
pop_2010_2017_df = pop_2010_2017_df.merge(regions)

pop_2010_2017_df.head()

  State    2013_Pop    2014_Pop    2015_Pop    2016_Pop    2017_Pop     Region
0    AL   4827660.0   4840037.0   4850858.0   4860545.0   4874747.0  Southeast
1    AK    736760.0    736759.0    737979.0    741522.0    739795.0   Far West
2    AZ   6616124.0   6706435.0   6802262.0   6908642.0   7016270.0  Southwest
3    AR   2956780.0   2964800.0   2975626.0   2988231.0   3004279.0  Southeast
4    CA  38347383.0  38701278.0  39032444.0  39296476.0  39536653.0   Far West

In [88]:
# merge population_df, rx_dfs, and deaths_dfs (prd = population rx deaths)
# prd_df = pop_2010_2017_df.merge(rx_2013_df).merge(deaths_2013_df).merge
#(rx_2014_df).merge(deaths_2014_df).merge(rx_2015_df).merge(deaths_2015_df)
#.merge(rx_2016_df).merge(deaths_2016_df).merge(rx_2017_df).merge(deaths_2017_df)

# merge 2013 tables
prd_13_df = pop_2010_2017_df.merge(rx_2013_df).merge(deaths_2013_df)
# merge 2013-2014 tables
prd_14_df = prd_13_df.merge(rx_2014_df).merge(deaths_2014_df)
# merge 2013-2015 tables
prd_15_df = prd_14_df.merge(rx_2015_df).merge(deaths_2015_df)
# merge 2013-2016 tables
prd_16_df = prd_15_df.merge(rx_2016_df).merge(deaths_2016_df)
# merge 2013-2017 tables
prd_17_df = prd_16_df.merge(rx_2017_df).merge(deaths_2017_df)

prd_17_df.head()

,State,2013_Pop,2014_Pop,2015_Pop,2016_Pop,2017_Pop,Region,2013_RX_rate,2013Deaths,2014_RX_rate,2014Deaths,2015_RX_rate,2015Deaths,2016_RX_rate,2016Deaths,2017_RX_rate,2017Deaths
0,AL,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Southeast,142.4,598,135.2,723,125.0,736,121.0,756,107.2,835
1,AK,736760.0,736759.0,737979.0,741522.0,739795.0,Far West,63.7,105,62.7,124,60.8,122,58.9,128,52.0,147
2,AZ,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Southwest,80.4,1222,79.7,1211,75.5,1274,70.2,1382,61.2,1532
3,AR,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Southeast,120.9,319,123.2,356,117.2,392,114.6,401,105.4,446
4,CA,38347383.0,38701278.0,39032444.0,39296476.0,39536653.0,Far West,54.4,4452,52.7,4521,47.7,4659,44.8,4654,39.5,4868

In [89]:
# change column locations and create the final consolidated dataframe called "master_df"
master_df = pd.DataFrame(prd_17_df[['State','Region',
                                    '2013_Pop','2013_RX_rate','2013Deaths',
                                    '2014_Pop','2014_RX_rate','2014Deaths',
                                    '2015_Pop','2015_RX_rate','2015Deaths',
                                    '2016_Pop','2016_RX_rate','2016Deaths',
                                    '2017_Pop','2017_RX_rate','2017Deaths']])

# convert population column values to integers for downstream statistical analysis
master_df['2013_Pop'] = master_df['2013_Pop'].apply(int)
master_df['2014_Pop'] = master_df['2014_Pop'].apply(int)
master_df['2015_Pop'] = master_df['2015_Pop'].apply(int)
master_df['2016_Pop'] = master_df['2016_Pop'].apply(int)
master_df['2017_Pop'] = master_df['2017_Pop'].apply(int)

#normalizing death data 
master_df['2013Deaths']  = round(master_df['2013Deaths'] / (master_df['2013_Pop'] / 100000), 2)
master_df['2014Deaths'] = round(master_df['2014Deaths'] / (master_df['2014_Pop'] / 100000), 2)
master_df['2015Deaths'] = round(master_df['2015Deaths'] / (master_df['2015_Pop'] / 100000), 2)
master_df['2016Deaths']  = round(master_df['2016Deaths'] / (master_df['2016_Pop'] / 100000), 2)
master_df['2017Deaths']  = round(master_df['2017Deaths'] / (master_df['2017_Pop'] / 100000), 2)


master_df.head()

,State,Region,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
0,AL,Southeast,4827660,142.4,12.39,4840037,135.2,14.94,4850858,125.0,15.17,4860545,121.0,15.55,4874747,107.2,17.13
1,AK,Far West,736760,63.7,14.25,736759,62.7,16.83,737979,60.8,16.53,741522,58.9,17.26,739795,52.0,19.87
2,AZ,Southwest,6616124,80.4,18.47,6706435,79.7,18.06,6802262,75.5,18.73,6908642,70.2,20.00,7016270,61.2,21.83
3,AR,Southeast,2956780,120.9,10.79,2964800,123.2,12.01,2975626,117.2,13.17,2988231,114.6,13.42,3004279,105.4,14.85
4,CA,Far West,38347383,54.4,11.61,38701278,52.7,11.68,39032444,47.7,11.94,39296476,44.8,11.84,39536653,39.5,12.31

In [90]:
# subset master dataframe into regional data frames by economic region
southeast = master_df[master_df.Region == 'Southeast'].reset_index(drop=True)
southwest = master_df[master_df.Region == 'Southwest'].reset_index(drop=True)
farwest = master_df[master_df.Region == 'Far West'].reset_index(drop=True)
rockmount = master_df[master_df.Region == 'Rocky Mountain'].reset_index(drop=True)
plains = master_df[master_df.Region == 'Plains'].reset_index(drop=True)
greatlakes = master_df[master_df.Region == 'Great Lakes'].reset_index(drop=True)
mideast = master_df[master_df.Region == 'Mideast'].reset_index(drop=True)
newengland = master_df[master_df.Region == 'New England'].reset_index(drop=True)

In [91]:
#Export to a csv
master_df.to_csv(r'Master_DF2.csv', index = False)

In [92]:
southeast

,State,Region,2013_Pop,2013_RX_rate,2013Deaths,2014_Pop,2014_RX_rate,2014Deaths,2015_Pop,2015_RX_rate,2015Deaths,2016_Pop,2016_RX_rate,2016Deaths,2017_Pop,2017_RX_rate,2017Deaths
0,AL,Southeast,4827660,142.4,12.39,4840037,135.2,14.94,4850858,125.0,15.17,4860545,121.0,15.55,4874747,107.2,17.13
1,AR,Southeast,2956780,120.9,10.79,2964800,123.2,12.01,2975626,117.2,13.17,2988231,114.6,13.42,3004279,105.4,14.85
2,FL,Southeast,19584927,73.5,12.63,19897747,71.4,13.24,20268567,67.1,15.93,20656589,66.6,22.89,20984400,60.9,24.25
3,GA,Southeast,9981773,86.6,11.00,10083850,83.8,11.96,10199533,79.4,12.77,10313620,77.8,13.52,10429379,70.9,14.74
4,KY,Southeast,4399121,111.7,23.16,4410415,110.0,24.42,4422057,102.6,28.79,4436113,97.2,31.99,4454189,86.8,35.16
5,LA,Southeast,4626795,112.4,17.49,4648797,108.9,16.71,4671211,100.4,18.43,4686157,98.1,21.25,4684333,89.5,23.65
6,MS,Southeast,2987721,119.6,10.58,2988578,116.3,11.24,2985297,110.9,11.76,2985415,105.6,11.79,2984100,92.9,11.86
7,NC,Southeast,9849812,96.7,12.78,9941160,93.7,13.66,10041769,88.4,15.60,10156689,82.5,19.26,10273419,72.0,23.50
8,SC,Southeast,4765862,103.0,13.01,4824758,101.3,14.53,4892423,95.1,15.55,4959822,89.4,17.72,5024369,79.3,20.06
9,TN,Southeast,6490795,127.1,18.29,6540007,121.3,19.40,6590726,114.9,22.11,6649404,107.5,24.51,6715984,94.4,26.44
10,VA,Southeast,8261689,76.6,10.34,8316902,73.5,11.78,8366767,68.1,12.42,8414380,63.4,16.70,8470020,52.9,17.79
11,WV,Southeast,1852333,129.0,30.77,1847624,126.4,33.94,1839767,111.3,39.41,1828637,96.0,48.34,1815857,81.3,53.64